    table th {
        background-color: #FF33E3;
        padding: 10px 20px;
    }
 
    table td {
        background-color: #f9ecd5;
        padding: 10px 20px;
    }
 
    .notice {
        background-color: #ccf;
        padding: 5px;
    }
    
    h2 {
        font-size:30px;
        background-color:#FF3E33;
        padding:30px;
        color:#fff;
    }